<table id="hotel_edit" class="table-bordered table-striped">
  <tr>
  　<th>項目</th>
  　<th>内容</th>
  </tr>
  <tr>
    <td>ホテル名</td>
    <td><%= hotel["Name"] %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= hotel["Address"] %></td>
  </tr>
  <tr>
    <td>価格</td>
    <td><%= hotel["Price"] %>円</td>
  </tr>
  <tr>
  　<td>ホームページへ</td>
  　<td><%= link_to "ホームページへ",hotel["InformationURL"],target: "new" %></td>
  </tr>
  <tr>
  　<td>アクセス</td>
    <td>
      <%= link_to map_path(hotel["Address"]),target: "new" do %>
        <div class="map"><img src="<%= get_map(hotel["Address"]) %>" width="100%" height="100%"></div>
      <% end %>
    　<div class="access"><%= hotel["Access"] %></br>
                      　 (地図をクリックすると拡大図が表示されます。)
    　</div>
     </td>
  </tr>
  <tr>
     <td>メモ</br>(250文字以内）<br><span class="letter_count"></span></td>
     <td class="text_edit_form"><%= f.text_area :memo, :size => "20x5",class:"hotel_edit_text letter" %></td>
  </tr>
</table>  

