<ul class="hotel_show_sp_index">
   <div class="hotel_show_content">
      <li class="hotel_show_item">ホテル名</li>
      <li class="hotel_show_content"><%= @hotels["Name"] %></li>
   </div>
   <div class="hotel_show_content">
      <li class="hotel_show_item">住所</li> 
      <li class="hotel_show_item"><%= @hotels["Address"] %></li> 
   </div>
   <div class="hotel_show_content">
     <li class="hotel_show_item">価格</li> 
     <li class="hotel_show_item"><%= @hotels["Price"] %>円<li>
   </div>
    <div class="hotel_show_content">
     <li class="hotel_show_item">アクセス</li> 
     <li class="hotel_show_item">
        <%= link_to map_path(@hotels["Address"]),target: "new" do %>
          <div><img src="<%= get_map(@hotels["Address"]) %>" width="200px" height="200px"></div>
        <% end %>
        <div><%= @hotels["Access"] %></div>
     <li>
   </div>
    <% if logged_in? %>
      <div id="text_sp_form">
        <% if @sp_hotel %>
          <p class="hotel_new_sp_text">登録済み</p>
        <% else %>
          <%= f.label :memo %>(250文字以内）<span class="letter_count"></span>
          <%= f.text_area :memo, :size => "20x5",class:"hotel_new_sp_text letter" %>
        <% end %>
      </div>
    <% end %>
</ul>
   
 