<% provide(:title, 'お気に入り登録') %>
<% provide(:button_text, '登録') %>
<h1>お気に入り登録</h1>

<%= form_with(model:@favorite, url:user_favorites_path(current_user),local:true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :number, value: @number %>
  <%= f.hidden_field :site, value: @site %>
  <%= f.hidden_field :name, value: @hotels["Name"] %>
  <div class="picture">
    <img src="<%= @hotels["Picture"] %>" width="100%" height="100%">
  </div>
  <%= render :partial => "hotel_new", locals: {f: f} %>
  <%= render :partial => "hotel_sp_new", locals: {f: f} %>
  
  <div class="favoritehotel_btn">
    <%= f.submit yield(:button_text), class: "btn btn-primary register_btn" %>
    <%= link_to "戻る",hotels_path,class:"btn btn-success register_btn" %>
  </div>
<% end %>
<div id="sp_hotel" data-id="<%= @sp_hotel %>"></div>