<ul class="post_sp_index">
  <% count = 0 %>
  <% @posts.each do |key,value| %>
    <% count = count + 1 %>
    <li>
      <div><%= key %></div>
      <div>
        <%= link_to "コメント一覧を表示","#",class:"comment_title" %>
        <ul class="all_comment" id="comment_<%= count %>">
          <% value.each do |hotel| %>
            <div class="sp_comment">
              <li><%= hotel.comment %></li>
              <% if hotel.user_id != current_user.id %>
                <% if !hotel.likes.where(user_id: current_user.id).first %>
                  <%= link_to likes_path(id: hotel.id,count: count,user_id:current_user),method: :post,remote:true, class: "btn btn-success btn-xs" do %>
                    <i class="fa fa-thumbs-up">いいね</i>
                  <% end %>
                <% else %>
                  <%= link_to like_path(id: hotel.id,count: count,user_id:current_user),method: :delete,remote:true,class: "btn btn-default btn-xs" do %>
                    <i class="fa">いいね済</i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </ul>
   　  </div>
    </li>
  <% end %>
</ul>