<table id="favoritehotel_index" class="table-bordered table-striped">
  <tr>
    <th class="post_user_name">ホテル名</th>
    <th class="post_user_comment">コメント</th>
    <th>いいね数</th>
    <th>編集</th>
    <th>削除</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.name %></td>
      <td id="post_user_comment"><%= post.comment %></td>
      <td><%= post.likes.count %></td>
      <td class="text-center"><%= link_to "編集",edit_user_post_path(post.user_id,post), class: 'btn btn-primary' %></td>
      <td class="text-center"><%= link_to "削除",user_post_path(post.user_id,post), method: :delete, class: 'btn btn-danger',data: { confirm: "コメントを消去してもいいですか？" } %></td>
    </tr>
  <% end %>
</table>  
