<table id="favoritehotel_index" class="table-bordered table-striped">
  <tr>
     <th class="hotelname">ホテル名</th>
     <th class="hotelcomment">コメント</th>
     <th>いいね数</th>
     <th>編集</th>
     <th>削除</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td id="favoritehotelname"><%= post.name %></td>
      <td id="favoritehotelcomment"><%= post.comment %></td>
      <td id="favoritehotelcomment"><%= post.likes.count %></td>
      <td class="text-center"><%= link_to "編集",edit_post_path(current_user.id,post), class: 'btn btn-primary' %></td>
      <td class="text-center"><%= link_to "削除",post_path(post), method: :delete, class: 'btn btn-danger',data: { confirm: "コメントを消去してもいいですか？" } %></td>
    </tr>
  <% end %>
</table>  
