<% provide(:title, 'コメント投稿一覧') %>

<h1>コメント投稿一覧</h1>
<div class="search_layout">
  <%= form_with url: posts_path, local:true,method: :get do |f| %>
    <%= f.label :search,"ホテル検索" %>
    <%= f.text_field :search, value:@search,class:"form_inline search_form" %>
    <%= f.submit "検索する",class:"search_btn" %>
  <% end %>
</div>
<div>
  <p id="count">表示件数</p>
  <select class="form-control post_state" name="state">
    <% @counts.each do |key,count| %>
      <option value=<%= count %>><%= key %></option>
    <% end %>
  </select>
</div>
<div class='pagination-container'>
	<nav>
	  <ul class="pagination">
	   <!--	Here the JS Function Will Add the Rows -->
	  </ul>
	</nav>
</div>

<div class="post_layout">
  <%= link_to "自身のコメント一覧へ", user_posts_path(current_user),class: "btn btn-primary" %> 
</div>

<div class="post_partial">
  <%= render :partial => "post_index" %>
  <%= render :partial => "post_sp_index" %>
</div>

