<% provide(:title, 'コメント投稿') %>
<% provide(:button_text, '投稿') %>
<h1>コメント投稿</h1>

<%= form_for(@post, url:posts_path) do |f| %>
   <%= render 'shared/error_messages', object: f.object %>
 　<%= f.hidden_field :number, value: @number %>
   <%= f.hidden_field :site, value: @site %>
   <%= f.hidden_field :name, value: @hotel["Name"] %>
   <div class="picture">
      <img src="<%= @hotel["Picture"] %>" width="100%" height="100%">
   </div>
   <div class="post_partical">
   <%= render :partial => "hotel_new", locals: {f: f} %>
   <%= render :partial => "hotel_sp_new", locals: {f: f} %>
  </div>
   <div class="favoritehotel_btn">
     <%= f.submit yield(:button_text), class: "btn btn-primary register_btn" %>
     <%= link_to "戻る",hotels_path,class:"btn btn-success register_btn" %>
   </div>
<% end %>
<div id="sp_hotel" data-id="<%= @sp_hotel %>"></div>
