<div class="hotel_sp_layout">
  <ul class="hotel_sp_index mysptable">
    <% @hotels.each do |hotel| %>
      <li>
        <div class="sp_item">
          <div>ホテル名：</div>
          <div><%= link_to hotel["Name"],hotel["InformationURL"],target: "_new" %></div>
        </div>
        <div class="sp_item">
          <div>住所：</div>
          <div><%= hotel["Address"] %></div>
        </div>
        <div class="sp_item">
          <div>価格：</div>
          <div><%= hotel["Price"] %>円(最安値)</div>
        </div>
        <div>
          <% if logged_in? %>
            <% if !current_user.posts.where(name: hotel["Name"]).present? %>
              <%= link_to "コメント投稿",new_user_post_path(current_user,number: hotel["No"]),class: "btn btn-success" %>
            <% else %>
              <p class="btn btn-default">コメント投稿済</p>
            <% end %>
            <% if !current_user.favorites.where(number: hotel["No"]).present? %>
              <%= link_to "お気に入り登録",new_user_favorite_path(current_user, number: hotel["No"]),class: "btn btn-primary" %>
            <% else %>
              <p class="btn btn-default">お気に入り登録済</p>
            <% end %>
          <% else %>
            <%= link_to "詳細",hotel_show_path(number: hotel["No"]),class: "btn btn-success" %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>