<div class="hotel_sp_layout">
  <% if !logged_in? %>
    <p>ホテル名をクリックすると詳細が表示されます。</p>
  <% end %>
  <ul class="hotel_sp_index mysptable">
    <% @hotels.each do |hotel| %>
      <li>
        <div><%= hotel["Name"] %></div>
        <div><%= hotel["Price"] %>円</div>
        <div>
          <% if logged_in? %>
            <% if !current_user.posts.where(name: hotel["Name"]).present? %>
              <%= link_to "コメント投稿",new_user_post_path(current_user,number: hotel["No"]),class: "btn btn-success" %>
            <% else %>
              <p class="btn btn-default">コメント投稿済</p>
            <% end %>
            <% if !current_user.favorites.where(number: hotel["No"]).present? %>
              <%= link_to "お気に入り登録",new_user_favorite_path(current_user, number: hotel["No"]),class: "btn btn-primary" %>
            <% else %>
              <p class="btn btn-default">お気に入り登録済</p>
            <% end %>
          <% else %>
            <%= link_to "詳細",hotel_show_path(number: hotel["No"]),class: "btn btn-success" %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>