<table id="hotel_index" class="table-bordered table-striped mytable">
  <thead>
    <tr>
      <th class="hotelname center">ホテル名</th>
      <th class="hoteladdress center">住所</th>
      <th class="hotelprice center">価格</br>(最安値)</th>
      <% if logged_in? %>
        <th class="hotelregister center">コメント投稿</th>
        <th class="hotelregister center">お気に入り登録</th>
      <% else %>
        <th class="hotelregister center">詳細</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= link_to hotel["Name"],hotel["InformationURL"],target: "_new" %></td>
        <td><%= hotel["Address"] %></td>
        <td class="center"><%= hotel["Price"] %>円</td>
        <% if logged_in? %>
          <% if current_user.posts.where(name: hotel["Name"]).present? %>
            <td class="center">投稿済み</td>
          <% else %>
            <td class="center"><%= link_to "新規投稿",new_user_post_path(current_user,number: hotel["No"]),class: "btn btn-success" %></td>
          <% end %>
        <% end %>
        <% if logged_in? %>
          <% if current_user.favorites.where(number: hotel["No"]).present? %>
            <td class="center">登録済み</td>
          <% else %>
            <td class="center"><%= link_to "新規登録",new_user_favorite_path(current_user, number: hotel["No"]),class: "btn btn-primary" %></td>
          <% end %>
        <% else %>
          <td class="center"><%= link_to "詳細",hotel_show_path(number: hotel["No"]),class: "btn btn-primary" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>