<% provide(:title, 'ホテル一覧') %>

<h1>ホテル一覧</h1>

<div class="search_layout">
  <%= form_with url: hotels_path, local:true,method: :get do |f| %>
    <%= f.hidden_field :site, value:@site %>
    <%= f.hidden_field :key, value:params[:key] %>
    <%= f.label :search,"住所検索" %>
    <%= f.text_field :search, value:@search,class:"form_inline search_form" %>
    <%= f.submit "検索する",class:"search_btn" %>
  <% end %>
</div>
<p class="text-primary address_sp">ページを開いた時は、「東京都千代田区」周辺のホテル一覧を表示しています。</p>
<div class="order_select">
  <p>検索順</p>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle sort_count" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <% if @sorts[params[:key]] %><%= @sorts[params[:key]] %><% else %>選んでください。 <% end %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% @sorts.each do |key,sort| %>
        <li><%= link_to(sort, hotels_path(key:key,search:@search,site:@site)) %></li>
      <% end %>
    </ul>
  </div>
</div>
 <p class="text-primary address">ページを開いた時は、「東京都千代田区」周辺のホテル一覧を表示しています。</p>
<div>
  <p id="count">表示件数</p>
  <select class="form-control state" name="state">
    <% @counts.each do |key,count| %>
      <option value=<%= count %>><%= key %></option>
    <% end %>
  </select>
</div>
<div class='pagination-container'>
	<nav>
	  <ul class="pagination">
	   <!--	Here the JS Function Will Add the Rows -->
	  </ul>
	</nav>
</div>
<div class='site_form'>
  <%= link_to "1:楽天",hotels_path(site:1),class:"site_rakuten" %>
  <%= link_to "2:じゃらん",hotels_path(site:2),class:"site_jalan" %>
</div>
<div class='site_name'>
  <% if @site == "1" %>
    <%= link_to "楽天サイト","https://travel.rakuten.co.jp/",class:"site_rakuten" %>
  <% else %>
    <%= link_to "じゃらんサイト",hotels_path(site:2),class:"site_jalan" %>
  <% end %>
</div>
<%= render :partial => "hotel_index" %>
<%= render :partial => "hotel_sp_index" %>
<%= render :partial => "picture" %>

