<% provide(:title, 'ホテル一覧') %>

<h1>ホテル一覧</h1>

<div class="search_layout">
  <%= form_with url: hotels_path, local:true,method: :get do |f| %>
    <%= f.hidden_field :site, value:@site %>
    <%= f.hidden_field :key, value:params[:key] %>
    <%= f.label :search,"住所検索" %>
    <%= f.text_field :search, value:@search,class:"form_control search_form" %>
    <%= f.submit "検索する",class:"search_btn" %>
  <% end %>
</div>

<div class="order_select">
  <p>検索順</p>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle sort_count" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= @sorts[params[:key]] %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <% @sorts.each do |key,sort| %>
        <li><%= link_to(sort, hotels_path(key:key,search:@search,site:@site)) %></li>
      <% end %>
    </ul>
  </div>
</div>
 
<div>
  <p id="count">表示件数</p>
  <select class="form-control state" name="state">
    <% @counts.each do |key,count| %>
      <option value=<%= count %>><%= key %></option>
    <% end %>
  </select>
</div>
<div class='pagination-container'>
	<nav>
	  <ul class="pagination">
	   <!--	Here the JS Function Will Add the Rows -->
	  </ul>
	</nav>
</div>
<div class='site_form'>
  <%= link_to "1:楽天",hotels_path(site:1),class:"site_rakuten" %>
  <%= link_to "2:じゃらん",hotels_path(site:2),class:"site_jalan" %>
</div>
<%= render :partial => "hotel_index" %>
<%= render :partial => "hotel_sp_index" %>
<%= render :partial => "picture" %>

<script>

  function windowsize (){
    var w = $(window).width();
    var x = 768
    if(w > x){
      $(".state").attr("id","maxRows");
    }else{
      $(".state").attr("id","maxspRows");
    }
	};
	
  $(window).resize(function() {
     windowsize();
     getPagination('.mytable');
     getspPagination();
  });

$(function(){
   windowsize();
   getPagination('.mytable');
   getspPagination();
 
 $('.picture').click(function() {
    var picture = $(this).data("id");
    $('.modal-body').children('img').attr('src', picture);
 });
 
 $('.map').click(function() {
    var picture = $(this).data("id");
    console.log(picture);
    $('.modal-body').children('img').attr('src', picture);
 });
});  
 
</script>

