<% provide(:title, 'マイホテル登録') %>
<% provide(:button_text, '登録') %>
<h1>マイホテル登録</h1>

<%= form_for(@hotel) do |f| %>
   <%= render 'shared/error_messages', object: f.object %>
 　 <%= f.hidden_field :hotel_number, value: @hotel_number %>
    <%= f.hidden_field :site, value: @site %>
   
   <%= render :partial => "hotel_new", locals: {f: f} %>
   <%= render :partial => "hotel_sp_new", locals: {f: f} %>
   
   <div class="picture_map">
      <% if @site == "2" %>
        <%= link_to "ホームページへ",@arr.elements["//Hotel/HotelDetailURL"].text,target: "new",class:"btn btn-danger" %>
        <buttom type="button" class="picture btn btn-success" data-toggle="modal" data-target="#picture" 
                data-id="<%= @arr.elements["//Hotel/PictureURL"].text %>">画像を表示
        </buttom>  
        <buttom type="button" class="map btn btn-primary" data-toggle="modal" data-target="#picture" 
                data-id="<%= get_map(@arr.elements["//Hotel/HotelAddress"].text) %>">地図を表示
        </buttom>
      <% else %>
        <%= link_to "ホームページへ",@arr.elements["//hotels/hotel/hotelBasicInfo/hotelInformationUrl"].text,target: "_new",class:"btn btn-danger" %>
        <buttom type="button" class="picture btn btn-primary" data-toggle="modal" data-target="#picture" 
                data-id="<%= @arr.elements["//hotels/hotel/hotelBasicInfo/roomImageUrl"].text %>">画像を表示
        </buttom>  
        <buttom type="button" class="map btn btn-success" data-toggle="modal" data-target="#picture" 
                data-id="<%= get_map(@arr.elements["//hotels/hotel/hotelBasicInfo/address1"].text + @arr.elements["//hotels/hotel/hotelBasicInfo/address2"].text) %>">地図を表示
        </buttom>
      <% end %>
   </div>
   <%= render :partial => "picture" %>
   <div class="myhotel_btn">
     <%= f.submit yield(:button_text), class: "btn btn-primary register_btn" %>
     <%= link_to "戻る",hotels_path,class:"btn btn-success register_btn" %>
   </div>
<% end %>
<div id="sp_hotel" data-id="<%= @sp_hotel %>"></div>
