<% provide(:button_text, 'ホテル詳細') %>
<h1>ホテル詳細</h1>

 <%= render :partial => "hotel_new" %>
 <%= render :partial => "hotel_sp_new" %>
 
 <div class="picture_map">
    <% if @site == "2" %>
      <%= link_to "ホームページへ",@arr.elements["//Hotel/HotelDetailURL"].text,target: "new",class:"btn btn-danger" %>
      <buttom type="button" class="picture btn btn-success" data-toggle="modal" data-target="#picture" 
              data-id="<%= @arr.elements["//Hotel/PictureURL"].text %>">画像を表示
      </buttom>  
      <buttom type="button" class="map btn btn-primary" data-toggle="modal" data-target="#picture" 
              data-id="<%= get_map(@arr.elements["//Hotel/HotelAddress"].text) %>">地図を表示
      </buttom>
    <% else %>
      <%= link_to "ホームページへ",@arr.elements["//hotels/hotel/hotelBasicInfo/hotelInformationUrl"].text,target: "_new",class:"btn btn-danger" %>
      <buttom type="button" class="picture btn btn-primary" data-toggle="modal" data-target="#picture" 
              data-id="<%= @arr.elements["//hotels/hotel/hotelBasicInfo/roomImageUrl"].text %>">画像を表示
      </buttom>  
      <buttom type="button" class="map btn btn-success" data-toggle="modal" data-target="#picture" 
              data-id="<%= get_map(@arr.elements["//hotels/hotel/hotelBasicInfo/address1"].text + @arr.elements["//hotels/hotel/hotelBasicInfo/address2"].text) %>">地図を表示
      </buttom>
    <% end %>
 </div>
 <%= render :partial => "picture" %>
 

  
